<h2>プライバシーポリシー</h2>

<h3>◆個人情報について</h3>
<p>個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）、もしくは個人識別符号が含まれる情報を意味するものとします。
当ウェブサイトでは、個人情報に関して適用される日本の法令、その他規範を遵守します。</p>

<h3>◆個人情報の取得について</h3>
<p>お問い合わせフォームまたはコメントを利用する場合に、入力いただいた情報によって、個人情報を取得する場合があります。法令に基づき開示する必要がある場合を除き、それらの情報を第三者へ開示はしません。なお、当ウェブサイトを利用いただく際は、第三者の盗聴等を防止するため、SSL(Secure Sockets Layer)による暗号通信技術を使用しております。</p>

<p>当ウェブサイトでは利用状況等を把握し、サービス向上を行うために、Cookie及びこれに類する技術を利用することがあります。ウェブブラウザの設定を変更することによりCookieを無効化することができます。</p>

<h3>◆Googleアナリスティクスの利用</h3>
<p>当ウェブサイトでは品質向上のために、Googleアナリティクスを利用することがあります。Googleアナリティクスによって収集される情報は個人を特定しません。アクセス情報の収集方法や利用方法に関しては、Googleアナリティクスサービス利用規約およびGoogleプライバシーポリシーによって定められています。 (詳細：http://www.google.com/analytics)</p>

<h3>◆広告の配信</h3>
<p>当ウェブサイトではGoogleアドセンスまたはその他サービスを通じて広告配信を行うことがあります。これらの広告は、Googleなどの第三者配信事業者がCookieやウェブビーコン等を利用して、過去にアクセスした情報に基づいて広告が配信されます。</p>

<h3>◆免責事項</h3>
<p>当サイトからリンクやバナーにより、他サイトに移動された場合、移動先サイトで提供される情報やサービスについて一切の責任は負いません。</p>
<p>当サイトでのコンテンツや情報は、正確な情報を記載するように努めておりますが、まれに誤りや古い情報が含まれる場合があります。それらの情報によって、仮に損害等が生じた場合にも一切の責任は負いかねますのでご了承ください。</p>