.articles-contents-block{
    //background-color: #F8F8FF;
    width:27%;
    float:left;
    height:150px;
    margin-left: 3%;
    margin-top: 3%;
}

// .trix-content action-text-attachment{
//     background-color: red;
//     width:80px;
//     height: 80px;
// }

.trix-content img{
    width:80px;
    // float:right;
    border-radius: 2em;
    border: 1px solid rgb(216, 210, 210);
    margin-bottom: 6px;
    box-shadow:  1px 2px 2px rgba(0,0,0,0.7);
    // box-shadow:  -1px -2px 2px rgba(0,0,0,0.7)
}




.trix-content .attachment{
    width:2.6em;
    height:2.6em
}

.trix-content h1{
    padding-bottom: 1em;
    border-bottom:inset 2px rgb(121, 118, 118) ;
    letter-spacing: 0.2em;
    white-space: pre-line; 
    line-height: 1.5em;
    font-family: Cambria,serif,Times,Georgia,Cochin,'Times New Roman';
    font-weight: 900;
}
.trix-content a{
    color:rgb(19, 66, 197);
}
// .trix-content a::after{
//     position: absolute;
//     content:attr(href);
//     display:none;
// }
// .trix-content a:hover::after{
//     display: block;
// }
.attachment{
    width: 100px;
}
.attachment__caption{
    display: none;
}

.post-time{
    color:gray;
    float: right;
    padding-right: 1em;
}

.post-content{
    display:none;
    // z-index:9;
    
    line-height: 1.6em;
    padding-top: 1em;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 14px;
    
}


// .my-small{
//     // font-size: 0.8em 
// }


